*{
  box-sizing: border-box;
}
.app{
  padding-top:3rem;
  width:50vw;
  height:auto;
  margin:0 auto;
  margin-top:100px;
  text-align: center;
  padding-bottom: 2rem;

}
.app input{
  width:100%;
  max-width: 250px;
  margin-bottom:1rem!important;
  margin:0 auto;
  display: block;
}
.btn_add{
  padding:.5rem;
  width:100%;
  max-width: 250px;
}

.app {
  text-align: center;
  width:50vw;
}
